{
	"extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
	"rules": {
		"linebreak-style": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/prefer-stateless-function": "off",
    "no-alert": 0,
    "no-console": 0,
    "react/forbid-prop-types": "off",
    "no-underscore-dangle": 0
	},
  "plugins": [
    "only-warn"
  ]
}